<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<mapper namespace="com.solfood.mapper.memberMapper">
	<!-- ========================== 로그인=============================== 6/24 수정됨 by 영민 -->
		<select id="login" resultType="com.solfood.dto.MemberVO">
			SELECT *
			FROM account
			WHERE account_user = #{account_user} AND account_password = #{account_password}
		</select>
		
		<select id="viewMember" resultType="MemberVO">
	        SELECT 	account_user,
	        		account_name,
	        		account_email,
	        		account_date,
	        		account_grade
	        FROM account
	        WHERE account_user = #{account_user} 
	        AND account_password = #{account_password}
	    </select>
	
	
	<!-- ========================== 회원 가입 =============================== 6/24 수정 필요 by 영민-->
		<!-- 회원정보 조회 -->	
		<select id="selectMember" resultType="memberVO">
	        SELECT * FROM ACCOUNT
	    </select>    
	    
	    <!-- 아이디 중복 검사 -->
    	<select id="check_id" parameterType="String" resultType="int">
			SELECT COUNT(*) 
			FROM account WHERE account_user = #{account_user}
		</select>
	    
	    
	    <!-- 이메일 중복 검사 -->
   	    <select id="check_email" parameterType="String" resultType="int">
			SELECT COUNT(*) 
			FROM account WHERE account_email = #{account_email}
		</select>
	    
	    
	    <!-- 회원가입 -->
	    <insert id="joinMember" parameterType="memberVO">
	    	INSERT INTO account (	account_user)
 			VALUES(	#{account_user}
					)
	    </insert>
	    
	    <!-- 
	    <insert id="joinMember" parameterType="memberVO">
	    	INSERT INTO account (	account_user,
	    							account_password,
	    							account_name,
	    							account_date,
	    							account_tel,
	    							account_address,
	    							account_grade,
	    							account_age,
	    							account_gender,
	    							account_email)
 			VALUES(	#{account_user},
					#{account_password},
					#{account_name},
					now(),
					#{account_tel},
					#{account_address},
					'1',
					#{account_age},
					#{account_gender},
					#{account_email})
	    </insert> -->

	</mapper>

	
	